@model Hovis.Web.Base.Models.t_New_Starter_Details

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_New_Starter_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateFirstRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFirstRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestorsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestorsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestorsTelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestorsTelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestorsLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestorsLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewStartersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewStartersName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewStartersRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewStartersRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewStarterDept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewStarterDept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewStarterLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewStarterLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewStarterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewStarterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagersName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptCostCentre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptCostCentre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GmailRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GmailRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaptopRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaptopRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemoteAccessVPN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemoteAccessVPN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationConfirmedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationConfirmedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
