@model IEnumerable<Hovis.Web.Base.Models.t_Leaver_Details>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateFirstRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorsTelephoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorsLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaversName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateFirstRequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorsTelephoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorsLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaversName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
